@{
    ViewBag.Title = "Mapa";
    Layout = "~/Views/Shared/_LayoutMaps.cshtml";
}
<div class="map" ng-controller="ViewerController as vm">

    <div kendo-toolbar k-options="vm.toolbarOptions"></div>

    <div style="height:93.5%">

        <div esri-map>
            @*<div id="LocateButton"></div>
                <div id="HomeButton"></div>*@

        </div>
        <div id="LogoGeo"></div>
    </div>

    <div id="window" kendo-window="vm.window" k-title="'Filtros'" k-visible="false" k-modal="true" k-width="250" k-height="230">
        <div class="container-fluid">
            <div class="row">Selccione los datos a filtrar: <strong> </strong>?</div>
            <div class="row">
                <input kendo-drop-down-list
                       k-data-text-field="'text'"
                       k-data-value-field="'value'"
                       k-data-source="vm.data"
                       ng-model="vm.selected" />
            </div>
            <div class="row">
                <br />
                <label>
                    <input type="checkbox" ng-model="vm.filtroMarca.Mobil">
                    Mobil
                </label><br />
                <label>
                    <input type="checkbox" ng-model="vm.filtroMarca.Shell">
                    Shell
                </label><br />
                <label>
                    <input type="checkbox" ng-model="vm.filtroMarca.Castrol">
                    Castrol
                </label><br />
                <label>
                    <input type="checkbox" ng-model="vm.filtroMarca.Valvoline">
                    Valvoline
                </label><br />
                <label>
                    <input type="checkbox" ng-model="vm.filtroMarca.Chevron">
                    Chevron
                </label>
            </div>
            <div class="row">
                <div class="pull-right">
                    <button class="btn btn-sm btn-primary" id="yesButton" ng-click="vm.yesFilter">Si</button>
                    <button class="btn btn-sm" id="noButton" ng-click="vm.cancelFilter">No</button>
                </div>
            </div>
        </div>
    </div>

</div>