@{
    ViewBag.Title = "Mapa";
    Layout = "~/Views/Shared/_LayoutMaps.cshtml";
}
<div class="map" ng-controller="ViewerController as ctrl">
   
    <div kendo-toolbar k-options="ctrl.toolbarOptions"></div>
    <div kendo-splitter="splitter"
         k-panes="[ {collapsed: true, collapsible: true, size: '20%' }, { collapsible: false, size: '80%'} ]"
         k-orientation="'horizontal'"
         style="height:93.5%">
        <div ng-controller="TabController as tab">

            <section class="tab">
                <ul class="nav nav-pills">
                    <li ng-class="{ active: tab.isSet(1) }">
                        <a href ng-click="tab.setTab(1)">Contenido</a>
                    </li>
                    <li ng-class="{ active: tab.isSet(2) }">
                        <a href ng-click="tab.setTab(2)">BaseMaps</a>
                    </li>
                </ul>
                <div ng-show="tab.isSet(1)">
                    <div id="TableOfContents"></div>
                </div>
                <div ng-show="tab.isSet(2)">
                    <div id="basemapGallery"></div>
                </div>

            </section>

        </div>
        <div>

            <div esri-map>
                <div id="LocateButton"></div>
                <div id="HomeButton"></div>
                <div id="LogoGeo"></div>
            </div>
        </div>
    </div>


</div>